<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UOH invest center</title>
    {% load static %}
        <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
        <script src="{% static 'js/script.js'%}"></script>
        <script src="{% static 'js/font.js'%}"></script>



</head>
    <header>
        <div class="container__header">	
            <div class="logo">
                {% load static %}
                <a href="/">
                    <img src="{% static 'media/logo.jpg' %}" alt="">
                </a>
            </div>

            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="{% url 'facilities'%}">Facilities</a></li>
                        <li><a href="{% url 'noticias'%}">Noticias</a></li>
                        <li><a href="{% url 'publicacion'%}">Publicaciones</a></li>
                        <li><a href="#">Equipo</a></li>
                        <li><a href="#">Contacto</a></li>
                        <li>
                            <form method="GET" action="{% url 'buscar_noticias' %}">
                                <input type="text" name="q" placeholder="Buscar noticias">
                                <input type="submit" value="Buscar">
                            </form>
                        </li>
                    </ul>
                </nav>
            </div>
            <i class="fa-solid fa-bars" id="icon_menu"></i>
            {% if user.is_authenticated%}
                    <div class="nav-link header__register">
                        <a href="/logout">
                            <input type="button" class="btn__header-register" value="Log out">
                        </a>
                    </div>
                    <div class="navbar-right">
                        <div class="online">
                            <a href="{% url 'crear_noticia'%}">
                                <img src="{% static 'media/profile.png' %}" class="nav-profile-img">
                            </a>
                        </div>
                    </div>
            {% else %}
                <div class="header__register">
                    {% if request.path == '/signin/'%}
                    <a href="/signup" class="btn__header-register">Registrarse</a>
                    {% elif request.path == '/signup/'  or request.path == '/' %}
                    <a href="/signin" class="btn__header-register">Iniciar sesión</a>
                    {% endif %}
                </div>
            {% endif %}
</header>