<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UOH invest center</title>

    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'css/estilloscontactoequipo.css'%}">
</head>
<body>
    {% include '_navbar.html' %}
    
        <div class="content" style="max-width: 75%;margin: 0 auto;">
    
            <h1 class="logo4">Comunicate con <span>nosotros</span></h1>
    
            <div class="contact-wrapper animated bounceInUp">
                <div class="contact-form">
                    
                    <form method="post" action="{% url 'contacto' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <p class="block"><button type="submit">Enviar</button> </p>
                        
                    </form>
                </div>
                <div class="contact-info">
                    <h4>Mas información</h4>
                    <ul>
                        <li><i class="fas fa-map-marker-alt"></i> Avenida Libertador Bernardo O'Higgins</li>
                        <li><i class="fas fa-envelope-open-text"></i> alex.digenova@uoh.cl</li>
                    </ul>
                    <p>cubi.cl</p>
                </div>
            </div>
    
        </div>
    
    </body>




    <script src="js/script.js"></script>
</html>