{% extends 'base.html' %} {% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'css/noticiasypublicacion.css' %}">
    <link rel="stylesheet" href="{% static 'css/noticiasypublicacioncopy.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilloscontactoequipo.css'%}">


     


<body>
    <section>
        <div style="padding-bottom: 2.5em;">
          <h1 class="logo4">Editar<span> Contenido</span></h1>
        </div>
<div class="cat-news">
  <div class="container">
          <div class="col-md-12 p-2">
                  {% for noticia in noticias %}
                    <div class="cn-img position-relative">
                        {% if noticia.tipo == 'Noticia' %}
                            <div class="cardproj-container">
                              <a href="{% url 'noticia_detalle' noticia.id_noticias %}">
                              <div class="cardproj cardproj-blue">
                                <div class="cardproj-innerbox">
                                  <img class="cardproj-img" src="{{ noticia.imagen.url }}" />
                                  <div class="cardproj-textbox">
                                    <div class="cardproj-title">{{ noticia.titulo }}</div>
                                    <div class="cardproj-subtitle">Abstract</div>
                                    <div class="cardproj-description">{{ noticia.descripcion|slice:":260"|safe }}</div>
                                    <div class="cardproj-tagbox">
                                      <span class="cardproj-tag">HTML</span>
                                      <span class="cardproj-tag">CSS</span>
                                    </div>
                                  </div>
                                </div>
                              </a>
                              </div>
                            {% elif noticia.tipo == 'Publicacion' %}
                                <a href="{% url 'noticia_detallepub' noticia.id_noticias %}">
                                    <div class="projcard-container">
                                        <div class="projcard projcard-blue">
                                            <div class="projcard-innerbox">
                                                <div class="projcard-textbox">
                                                    <div class="projcard-title">{{ noticia.titulo }}</div>
                                                    <div class="projcard-subtitle">Abstract</div>
                                                    <div class="projcard-bar"></div>
                                                    <div class="projcard-description">{{ noticia.descripcion|slice:":260"|safe }}</div>
                                                    <div class="projcard-tagbox">
                                                        <span class="projcard-tag">HTML</span>
                                                        <span class="projcard-tag">CSS</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>  
                                    </div>
                                </a>
                            {% endif %}
                    </div>
                  </div>
                  {% endfor %}
              </div>
          </div>
      </div>
  </div>
</div>



    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
</section>
</body>
{% endblock %}
   
<!--
  <ul>
  {% for noticia in noticias %}
  <li>
    <a href="{% url 'noticia_detalle' noticia.id_noticias %}">
      <strong>{{noticia.titulo}}</strong>
      <img src="{{noticia.imagen.url}}"></img>
    </a>
    {{noticia.descripcion|safe}}
    {{noticia.fecha_publicacion|date:'M j Y:i'}}
    Autor: {{noticia.user.username}}
  </li>
  {% endfor %}
</ul>
-->