<!DOCTYPE html>
<html lang="en">
<head>
  {% load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UOH invest center</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap"
      rel="stylesheet"
    />

    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'css/estilloscontactoequipo.css'%}">
</head>
{% include '_navbar.html' %}

    <body>
        <section>
          <div>
            <h1 class="logo4">Nuestro <span>equipo</span></h1>
          </div>

          <div class="row3">
            <!-- Column 1-->
            {% for member in team_members %}
            {% if member.nombre %}
            <div class="column3">
              <div class="card">
                <a href="{% url 'user_public_view' member.user.id %}">
                <div class="img-container">
                    <img src="{{ member.imagen_perfil.url }}" />
                </div>
                </a>
                <h3>{{ member.nombre }}</h3>
                <p>Colaborador</p>
                <div class="icons3">
                  {% if member.Twitter %}
                  <a href="{{member.Twitter}}">
                    <i class="fab fa-twitter"></i>
                  </a>
                  {% endif%}
                  {% if member.Twitter %}
                  <a href="{{member.Linkedin}}">
                    <i class="fab fa-linkedin"></i>
                  </a>
                  {% endif%}
                  <!--
                  <a href="#">
                    <i class="fab fa-github"></i>
                  </a>
                  -->
                  {% if member.email %}
                    <a href="mailto:{{member.email}}">
                      <i class="fas fa-envelope"></i>
                    </a>
                  {% endif%}
                </div>
              </div>
            </div>
            {% endif%}
            {% endfor %}
        </section>
      </body>

      {% include 'footer.html' %}
      <script src="js/script.js"></script>

    </html>

    
 