{% extends 'base.html' %} {% block content %}
{% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/estil.css' %}">

    <html lang="en">
        
<body>
    
    <div class="content"style="margin-top: 5em;">
        <h1>Sequencing facility</h1>
        <h2>Last updated on May 7, 2023</h2>
        <div>
            <h1>Sequencing genome and epigenome at UOH</h1>
            <p>The DiGenoma Lab’s genome sequencing facility is at the forefront of high-throughput DNA sequencing technologies. Our facility has <a href="https://nanoporetech.com/" target="_blank">Nanopore</a> sequencing technology, including GridION, MinION, and P2 Solo, capable of producing long-read sequences of DNA. Nanopore allows us to study complex genomic regions, structural variants, and gene expression at unprecedented resolution. We use this technology to gain insights into cancer genomics, metagenomics, and epigenetic regulation.</p>
    
            <p>One of our ongoing projects is the study of the Chilean genome, which aims to understand the genetic diversity of the Chilean population and its implications for health and disease. Utilizing our sequencing platform, we can generate high-quality, whole-genome data from many individuals, which we use to identify genetic variants associated with various diseases, including cancer.</p>
    
            <p>Our sequencing facility also plays a key role in our epigenetics studies, which involve the study of changes in gene expression that do not involve alterations to the underlying DNA sequence. By generating high-throughput sequencing data of DNA methylation patterns, we can study the effects of environmental factors on gene expression and the development of diseases, including cancer.</p>
    
            <p>Overall, the DiGenoma Lab’s genome sequencing facility provides a powerful platform for studying the genetics of a wide range of biological systems, with a particular emphasis on cancer, metagenomics, the Chilean genome, and epigenetics.</p>
    
            <img src="{% static "media/tab.jpg"%}">
    
            <img src="{% static "media/nano.jpeg"%}">

        </div>
    </div>
    
    




    <script src="js/script.js"></script>
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</body>
{% endblock %}