{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<footer class="pie-pagina" style="margin-top: 5em;">
    <div class="grupo-1">
        <div class="box1">
            <figure>
                <a href="#">
                    <img src="{% static 'media/logow.png' %}" alt="CUBI LOGO">
                </a>
            </figure>
        </div>
        <div class="box1">
            <h2>Nos encontramos</h2>
            <div class="box1">
                <div class="gmap_canvas">
                    <iframe src="https://maps.google.com/maps?q=Universidad%20de%20O'Higgins&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder="0" style="width: 100%;"></iframe>
                </div>
            </div>
        </div>
        <div class="box1">
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a href="#" class="fa fa-github"></a>
                <a href="#" class="fa fa-twitter"></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2023 <b>VirtualMinds</b> - Todos los Derechos Reservados.</small>
    </div>
</footer>