{% extends 'base.html' %} {% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'css/noticiasypublicacion.css' %}">


     

<h1 style="text-align:center;">Publicaciones</h1>

<body>
<!-- Category News Start-->
<div class="cat-news">
  <div class="container">
      <div class="row">
          <div class="col-md-12 p-2">
              <div class="row justify-content-between">
                  {% for noticia in noticias %}
                  {% if noticia.tipo == "Publicacion" %}
                  <div class="projcard-container">
                  <a href="{% url 'ver_publicacion' noticia.id_noticias %}">
                        <div class="projcard projcard-blue">
                            <div class="projcard-innerbox">
                                <div class="projcard-textbox">
                                    <div class="projcard-title">{{ noticia.titulo }}</div>
                                    <div class="projcard-subtitle">Abstract</div>
                                    <div class="projcard-bar"></div>
                                    <div class="projcard-description">{{ noticia.descripcion|slice:":260"|safe }}</div>
                                    <div class="projcard-tagbox">
                                        <span class="projcard-tag">HTML</span>
                                        <span class="projcard-tag">CSS</span>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </a> 
                    </div>
                  {% endif %}
                  {% endfor %}
              </div>
          </div>
      </div>
  </div>
</div>



    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>


</body>
{% endblock %}