{% extends 'base.html' %} {% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'css/noticiasypublicacion.css' %}">
    <link rel="stylesheet" href="{% static 'css/noticiasypublicacioncopy.css' %}">


     

<h1 style="text-align:center;">Resultados de la búsqueda</h1>

<body>
<!-- Category News Start-->
<div class="cat-news">
  <div class="container">
          <div class="col-md-12 p-2">
                  {% for noticia in noticias %}
                    <div class="cn-img position-relative">
                        {% if noticia.tipo == 'Noticia' %}
                        <a href="{% url 'ver_noticia' noticia.id_noticias %}">
                            <div class="cardproj-container">
                              <div class="cardproj cardproj-blue">
                                <div class="cardproj-innerbox">
                                  <img class="cardproj-img" src="{{ noticia.imagen.url }}" />
                                  <div class="cardproj-textbox">
                                    <div class="cardproj-title">{{ noticia.titulo }}</div>
                                    <div class="cardproj-subtitle">Abstract</div>
                                    <div class="cardproj-description">{{ noticia.descripcion|slice:":260"|safe }}</div>
                                    <div class="cardproj-tagbox">
                                      <span class="cardproj-tag">Noticia</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              </a>
                            {% elif noticia.tipo == 'Publicacion' %}  
                                    <div class="projcard-container">
                                      <a href="{% url 'ver_publicacion' noticia.id_noticias %}">
                                        <div class="projcard projcard-blue">
                                            <div class="projcard-innerbox">
                                                <div class="projcard-textbox">
                                                    <div class="projcard-title">{{ noticia.titulo }}</div>
                                                    <div class="projcard-subtitle">Abstract</div>
                                                    <div class="projcard-bar"></div>
                                                    <div class="projcard-description">{{ noticia.descripcion|slice:":260"|safe }}</div>
                                                    <div class="projcard-tagbox">
                                                        <span class="projcard-tag">Publicacion</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                       </a>
                                    </div>
                            {% endif %}
                    </div>
                  </div>
                  {% endfor %}
              </div>
          </div>
      </div>
  </div>
</div>



    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>


</body>
{% endblock %}